@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

body {
    font-size: v.$fs;
    position: relative;
    z-index: -3;
}

.nav {
    border-bottom-left-radius: 5rem;
    padding-block: 3.5rem;
    padding-inline: 1.5rem;
    font-family: v.$ff-overpass;
    position: relative;
    background: url(../../../images/bg-pattern-intro-mobile.svg), v.$intro-gradient;
    background-repeat: no-repeat;

    @media screen and (min-width: v.$min-width) {
        padding-block: 4rem;
        padding-inline: 10rem;
    }

    .nav_pattern {
        position: absolute;
        transform: scale(3.5) translateY(0rem) translateX(0rem);
        max-width: 26rem;

        @media screen and (min-width: v.$min-width) {
            transform: scale(8) translateY(0rem) translateX(6rem);
        }
    }
}