/* == Colors == */
/* Primary */
/* Neutral */
/* Gradient */
/* Fonts */
/* Media query */
body {
  font-size: 1rem;
  position: relative;
  z-index: -3;
}

.nav {
  border-bottom-left-radius: 7rem;
  padding-block: 3.5rem;
  padding-inline: 1.5rem;
  font-family: "Overpass", sans-serif;
  position: relative;
  background: url(../../images/bg-pattern-intro-mobile.svg) 35% 35% no-repeat, linear-gradient(150deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .nav {
    padding-block: 3.5rem 1.5rem;
    padding-inline: 10rem;
    background: url(../../images/bg-pattern-intro-desktop.svg) 25% 52% no-repeat, linear-gradient(150deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.nav_bar .bar_logo {
  max-width: 5rem;
}
.nav_bar .bar_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
}
.nav_bar .bar_menu .menu_icon {
  padding: 0;
  width: 2.25rem;
  background-color: transparent;
  border: none;
  overflow: hidden;
}
.nav_bar .bar_menu .menu_icon .icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}
.nav_bar .bar_menu .menu_icon .icons img {
  margin-block: auto;
}
.nav_bar .bar_menu .menu_icon #menuOpen {
  transform: translateX(-2rem);
}
.nav_bar .bar_menu .menu {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0.25rem;
  background-color: hsl(0, 0%, 100%);
  padding-block: 2rem;
  padding-inline: 1.5rem;
  position: absolute;
  top: 3.5rem;
  right: 0;
  min-width: 20.5rem;
  box-shadow: 0 1rem 3rem -1.5rem hsl(240, 2%, 79%);
  overflow: hidden;
  padding: 0;
  max-height: 0;
}
.nav_bar .bar_menu .menu .menu_topics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.nav_bar .bar_menu .menu .menu_topics .topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: inherit;
}
.nav_bar .bar_menu .menu .menu_topics .topic .topic_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}
.nav_bar .bar_menu .menu .menu_topics .topic .topic_header:before {
  content: "";
  position: absolute;
  width: 0;
  border: 1px solid transparent;
  bottom: 0.125rem;
  transition: all 0.5s ease-in-out;
}
.nav_bar .bar_menu .menu .menu_topics .topic .topic_header:hover:before {
  width: 75%;
  border: 1px solid hsl(0, 0%, 100%);
}
.nav_bar .bar_menu .menu .menu_topics .topic .topic_header .header_type {
  font-size: 1.125rem;
  color: hsl(240, 10%, 16%);
}
.nav_bar .bar_menu .menu .menu_topics .topic .topic_header #listOpen {
  color: hsl(207, 13%, 34%);
}
.nav_bar .bar_menu .menu .menu_topics .topic .topic_header #arrowUp {
  transform: rotateX(180deg);
}
.nav_bar .bar_menu .menu .menu_topics .topic .topic_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(240, 6%, 94%);
  padding-block: 1rem;
  padding-inline: 0;
  width: inherit;
  overflow: hidden;
  max-height: 0;
  padding: 0;
}
.nav_bar .bar_menu .menu .menu_topics .topic .topic_list .list_element {
  list-style-type: none;
}
.nav_bar .bar_menu .menu .menu_topics .topic .topic_list .list_element .element_link {
  text-decoration: none;
  color: hsl(207, 13%, 34%);
}
.nav_bar .bar_menu .menu .menu_topics .topic #showList {
  padding-block: 1rem;
  max-height: 15rem;
}
.nav_bar .bar_menu .menu .menu_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
}
.nav_bar .bar_menu .menu .menu_user::before {
  content: "";
  width: 100%;
  border-top: 1px solid hsl(240, 6%, 94%);
}
.nav_bar .bar_menu .menu .menu_user .user_login {
  text-decoration: none;
  color: hsl(240, 10%, 16%);
  font-size: 1.125rem;
}
.nav_bar .bar_menu .menu .menu_user .user_signup {
  padding-block: 0.875rem 0.75rem;
  padding-inline: 2.5rem;
  border-radius: 100vw;
  border: none;
  background: linear-gradient(150deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.nav_bar .bar_menu .menu .menu_user .user_signup:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}
.nav_bar .bar_menu #showMenu {
  padding-block: 2rem;
  padding-inline: 1.5rem;
  max-height: 100rem;
}

@media screen and (min-width: 48rem) {
  .nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 4.5rem;
  }
  .nav_bar .bar_logo {
    max-width: unset;
  }
  .nav_bar .bar_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    width: 100%;
  }
  .nav_bar .bar_menu .menu_icon {
    display: none;
  }
  .nav_bar .bar_menu .menu {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    background-color: transparent;
    box-shadow: unset;
    position: unset;
    max-height: fit-content;
    padding: 0;
    width: inherit;
    overflow: visible;
  }
  .nav_bar .bar_menu .menu .menu_topics {
    width: unset;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
  }
  .nav_bar .bar_menu .menu .menu_topics .topic {
    position: relative;
  }
  .nav_bar .bar_menu .menu .menu_topics .topic .topic_header .header_type {
    color: hsl(240, 6%, 94%);
    font-size: 1rem;
  }
  .nav_bar .bar_menu .menu .menu_topics .topic .topic_header #listOpen {
    color: hsl(0, 0%, 100%);
  }
  .nav_bar .bar_menu .menu .menu_topics .topic .topic_header .header_arrow {
    width: 0.75rem;
  }
  .nav_bar .bar_menu .menu .menu_topics .topic .topic_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    background-color: hsl(0, 0%, 100%);
    padding-block: 0;
    padding-inline: 0;
    position: absolute;
    top: 3rem;
    box-shadow: 0 0 5rem -3rem black;
    width: 10rem;
  }
  .nav_bar .bar_menu .menu .menu_topics .topic .topic_list .list_element .element_link {
    color: hsl(240, 10%, 16%);
  }
  .nav_bar .bar_menu .menu .menu_topics .topic .topic_list .list_element .element_link:hover {
    font-weight: 700;
  }
  .nav_bar .bar_menu .menu .menu_topics .topic #showList {
    padding-block: 2rem;
    padding-inline: 1.5rem 3rem;
  }
  .nav_bar .bar_menu .menu .menu_user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }
  .nav_bar .bar_menu .menu .menu_user::before {
    display: none;
  }
  .nav_bar .bar_menu .menu .menu_user .user_login {
    color: hsl(240, 6%, 94%);
    font-size: 1rem;
  }
  .nav_bar .bar_menu .menu .menu_user .user_signup {
    background: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    font-weight: 600;
  }
}
.nav_intro {
  padding-block: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
@media screen and (min-width: 48rem) {
  .nav_intro {
    padding-block: 7.5rem;
  }
}
.nav_intro .intro_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: hsl(0, 0%, 100%);
}
.nav_intro .intro_text .intro_title {
  font-size: 2.125rem;
  padding-inline: 0.375rem;
}
@media screen and (min-width: 48rem) {
  .nav_intro .intro_text .intro_title {
    font-size: 3.875rem;
  }
}
.nav_intro .intro_text .intro_desc {
  font-size: 1.125rem;
}
@media screen and (min-width: 48rem) {
  .nav_intro .intro_text .intro_desc {
    font-size: 1.325rem;
  }
}
.nav_intro .intro_btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.nav_intro .intro_btn button {
  border-radius: 100vw;
  border: 1px solid hsl(0, 0%, 100%);
  padding-block: 0.75rem;
  padding-inline: 1rem;
  background-color: transparent;
}
.nav_intro .intro_btn .btn_start {
  background-color: hsl(0, 0%, 100%);
  color: hsl(353, 100%, 62%);
  cursor: pointer;
}
.nav_intro .intro_btn .btn_start:hover {
  border-color: hsl(355, 100%, 74%);
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}
.nav_intro .intro_btn .btn_learn {
  color: hsl(0, 0%, 100%);
}
.nav_intro .intro_btn .btn_learn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(353, 100%, 62%);
}

.designed_section {
  font-family: "Overpass", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-block: 6rem;
}
.designed_section .section_title {
  color: hsl(208, 49%, 24%);
  font-size: 1.675rem;
  font-weight: 600;
}
.designed_section .section_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}
.designed_section .section_content .content_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block-end: 11rem;
  padding-inline: 2.5rem;
}
.designed_section .section_content .content_text .text_paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.designed_section .section_content .content_text .text_paragraph .paragraph_title {
  font-size: 1.75rem;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
  line-height: 1.125;
  width: 100%;
}
.designed_section .section_content .content_text .text_paragraph .paragraph_description {
  color: hsl(240, 10%, 16%);
  line-height: 1.75;
}

@media screen and (min-width: 48rem) {
  .designed_section {
    padding-block: 5rem 3rem;
    text-align: left;
    position: relative;
    overflow: hidden;
  }
  .designed_section .section_title {
    font-size: 2.5rem;
    position: absolute;
    top: 10rem;
    text-align: center;
  }
  .designed_section .section_content {
    gap: 0.5rem;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  .designed_section .section_content .content_img {
    flex: 1;
    flex-basis: 0;
  }
  .designed_section .section_content .content_img img {
    max-width: unset;
    display: unset;
    transform: translateX(17rem);
  }
  .designed_section .section_content .content_text {
    flex: 2;
    flex-basis: 0;
    padding: 0;
    padding-block-start: 2rem;
    transform: translateX(11rem);
    gap: 5rem;
  }
}
.infrastructure_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-top-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
  position: relative;
  background: url(../../../images/bg-pattern-circles.svg), linear-gradient(150deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-size: 600px 600px, 100% 900px;
  background-position: center -15rem;
  padding-block: 14rem 7rem;
  padding-inline: 2rem;
}
.infrastructure_section .infrastructure_img .img_phones {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  top: -11rem;
}
.infrastructure_section .infrastructure_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  font-family: "Overpass", sans-serif;
  color: hsl(0, 0%, 100%);
}
.infrastructure_section .infrastructure_content .content_title {
  font-size: 2.5rem;
  line-height: 1.25;
}
.infrastructure_section .infrastructure_content .content_paragraph {
  line-height: 1.75;
}

@media screen and (min-width: 48rem) {
  .infrastructure_section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding-block: 0;
    max-height: 25rem;
    padding-inline: 5rem;
    background-size: 1014px 1018px, 120% 1000px;
    background-position: -13rem -32rem;
  }
  .infrastructure_section .infrastructure_img {
    flex: 1;
    flex-basis: 0;
  }
  .infrastructure_section .infrastructure_img .img_phones {
    position: relative;
    top: 1rem;
  }
  .infrastructure_section .infrastructure_content {
    flex: 1;
    flex-basis: 0;
    align-items: flex-start;
    text-align: left;
  }
  .infrastructure_section .infrastructure_content .content_title {
    font-size: 2.375rem;
  }
  .infrastructure_section .infrastructure_content .content_paragraph {
    padding-inline-end: 8rem;
  }
}
/* Abstracts */
/* Base */
/* Components */
/* Nav */
/* Design section */
/* Infrastructure section *//*# sourceMappingURL=main.css.map */