@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.nav_bar {
    @include m.flex-horizontal($justify-content: space-between);

    .bar_logo {
        max-width: 5rem;
    }

    .bar_menu {
        @include m.flex-vertical();
        position: relative;

        .menu_icon {
            padding: 0;
            width: 2.25rem;
            background-color: transparent;
            border: none;
            overflow: hidden;

            .icons {
                @include m.flex-horizontal($gap: .25rem);

                img {
                    margin-block: auto;
                }
            }

            #menuOpen {
                transform: translateX(-2rem);
            }
        }

        .menu {
            font-weight: v.$fw-overpass-semibold;
            @include m.flex-vertical($gap: 2rem);
            border-radius: .25rem;
            background-color: v.$white;
            padding-block: 2rem;
            padding-inline: 1.5rem;
            position: absolute;
            top: 3.5rem;
            right: 0;
            min-width: 20.5rem;
            box-shadow: 0 1rem 3rem -1.5rem v.$grayish-blue;
            overflow: hidden;
            padding: 0;
            max-height: 0;

            .menu_topics {
                @include m.flex-vertical($gap: 1rem);
                width: 100%;

                .topic {
                    @include m.flex-vertical($gap: .5rem);
                    width: inherit;

                    .topic_header {
                        @include m.flex-horizontal($gap: .5rem);
                        overflow: hidden;
                        cursor: pointer;

                        &::before {
                            content: "";
                            position: absolute;
                            width: 0;
                            border: 1px solid transparent;
                            bottom: .125rem;
                            transition: all .5s ease-in-out;
                        }

                        &:hover::before {
                            width: 75%;
                            border: 1px solid v.$white;
                        }

                        .header_type {
                            font-size: calc(v.$fs * 1.125);
                            color: v.$very-dark-black-blue;
                        }

                        #listOpen {
                            color: v.$very-dark-grayish-blue;
                        }

                        //.header_arrow {}

                        #arrowUp {
                            transform: rotateX(180deg);
                        }
                    }

                    .topic_list {
                        @include m.flex-vertical($gap: 1rem);
                        border-radius: .5rem;
                        background-color: v.$light-grayish-blue;
                        padding-block: 1rem;
                        padding-inline: 0;
                        width: inherit;
                        overflow: hidden;
                        max-height: 0;
                        padding: 0;

                        .list_element {
                            list-style-type: none;

                            .element_link {
                                text-decoration: none;
                                color: v.$very-dark-grayish-blue;
                            }
                        }
                    }

                    #showList {
                        padding-block: 1rem;
                        max-height: 15rem;
                    }
                }
            }

            .menu_user {
                @include m.flex-vertical($gap: 1.25rem);
                width: 100%;

                &::before {
                    content: "";
                    width: 100%;
                    border-top: 1px solid v.$light-grayish-blue;
                }

                .user_login {
                    text-decoration: none;
                    color: v.$very-dark-black-blue;
                    font-size: calc(v.$fs * 1.125);
                }

                .user_signup {
                    padding-block: .875rem .75rem;
                    padding-inline: 2.5rem;
                    border-radius: 100vw;
                    border: none;
                    background: v.$intro-gradient;
                    color: v.$white;
                    cursor: pointer;

                    &:hover {
                        background-color: v.$very-light-red-user;
                        color: v.$white;
                    }
                }
            }
        }

        #showMenu {
            padding-block: 2rem;
            padding-inline: 1.5rem;
            max-height: 100rem;
        }
    }
}

@media screen and (min-width: v.$min-width) {
    .nav_bar {
        @include m.flex-horizontal($justify-content: unset, $gap: 4.5rem);

        .bar_logo {
            max-width: unset;
        }

        .bar_menu {
            @include m.flex-horizontal();
            width: 100%;

            .menu_icon {
                display: none;
            }

            .menu {
                font-family: v.$ff-ubuntu;
                font-weight: v.$fw-ubuntu-medium;
                @include m.flex-horizontal($justify-content: space-between);
                background-color: transparent;
                box-shadow: unset;
                position: unset;
                max-height: fit-content;
                padding: 0;
                width: inherit;
                overflow: visible;

                .menu_topics {
                    width: unset;
                    @include m.flex-horizontal($gap: 2.5rem);

                    .topic {
                        position: relative;

                        .topic_header {

                            .header_type {
                                color: v.$light-grayish-blue;
                                font-size: v.$fs;
                            }

                            #listOpen {
                                color: v.$white;
                            }

                            .header_arrow {
                                width: .75rem;
                            }
                        }

                        .topic_list {
                            @include m.flex-vertical($align-items: flex-start, $gap: .5rem);
                            background-color: v.$white;
                            padding-block: 0;
                            padding-inline: 0;
                            position: absolute;
                            top: 3rem;
                            box-shadow: 0 0 5rem -3rem black;
                            width: 10rem;

                            .list_element {
    
                                .element_link {
                                    color: v.$very-dark-black-blue;

                                    &:hover {
                                        font-weight: v.$fw-ubuntu-bold;
                                    }
                                }
                            }
                        }

                        #showList {
                            padding-block: 2rem;
                            padding-inline: 1.5rem 3rem;
                        }
                    }
                }

                .menu_user {
                    @include m.flex-horizontal($gap: 2rem, $justify-content: flex-end);

                    &::before {
                        display: none;
                    }
    
                    .user_login {
                        color: v.$light-grayish-blue;
                        font-size: v.$fs;
                    }
    
                    .user_signup {
                        background: v.$white;
                        color: v.$light-red;
                        font-weight: v.$fw-overpass-semibold;
                    }
                }
            }
        }
    }
}