@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.infrastructure_section {
    @include m.flex-vertical();

    

    .infrastructure_img {
        height: 200px;

        .img_phones {
            position: relative;
            z-index: 1;
            max-width: 23rem;
        }
    }

    .infrastructure_content {
        border-top-right-radius: 6rem;
        border-bottom-left-radius: 6rem;
        position: relative;
        background: url(../../../images/bg-pattern-circles.svg), v.$body-gradient;
        background-repeat: no-repeat;
        background-size: 600px 600px, 100% 900px;
        background-position: center -15rem;
        padding-block: 14rem 7rem;
        padding-inline: 2rem;

        @include m.flex-vertical($gap: 1.5rem);
        text-align: center;
        font-family: v.$ff-overpass;
        color: v.$white;

        .content_title {
            font-size: calc(v.$fs * 2.5);
            line-height: 1.25;
        }

        .content_paragraph {
            line-height: 1.75;
        }
    }
}

@media screen and (min-width: v.$min-width) {
    .infrastructure_section {
        @include m.flex-horizontal($gap: 1.5rem);
        position: relative;


        .infrastructure_img {
            flex: 1;
            flex-basis: 0;
            position: absolute;
            top: -4rem;
            left: 7rem;

            .img_phones {
                max-width: unset;
            }
        }

        .infrastructure_content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-block: 7rem;
            max-height: 25rem;
            padding-inline: 5rem;
            background-size: 1014px 1018px, 120% 1000px;
            background-position: -13rem -32rem;

            flex: 1;
            flex-basis: 0;
            align-items: flex-start;
            text-align: left;

            .content_title {
                font-size: calc(v.$fs * 2.375);
                grid-column: 2;
            }

            .content_paragraph {
                padding-inline-end: 8rem;
                grid-column: 2;
            }
        }
    }
}